@use 'variables' as *;

body {
	font-family: $font-body;
	color: $tertiary-color;
	background-color: $background-color;
}

main {
	text-align: center;
}

h1,
h2,
h3,
h4 {
	font-family: $font-heading;
}

h1,
.page-title {
	font-weight: $font-weight-light;
	font-size: $font-size-jumbo;
	line-height: $line-height-xl;
	letter-spacing: $letter-spacing-tight;
}

h2,
.section-title {
	font-weight: $font-weight-regular;
	font-size: $font-size-xxxl;
	line-height: $line-height-lg;
	letter-spacing: $letter-spacing-none;
}

h3,
.interactive-title,
.subheading {
	font-weight: $font-weight-bold;
	font-size: $font-size-lg;
	line-height: $line-height-md;
	letter-spacing: $letter-spacing-none;
}

h4,
.paragraph-title {
	font-weight: 400;
	font-size: $font-size-md;
	line-height: $line-height-sm;
	letter-spacing: $letter-spacing-none;
}

.desktop-heading {
	display: none;
}

p {
	font-weight: $font-weight-regular;
	font-size: $font-size-body;
	line-height: $line-height-body;
	letter-spacing: $letter-spacing-none;
}

a {
	color: $secondary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 0;
	padding: 0;
}

address {
	font-style: normal;
}

strong {
	font-weight: $font-weight-bold;
}

nav ul {
	display: flex;
	flex-direction: column;
	padding: $spacing-md 0;
	justify-content: space-between;

	@container (min-width: #{$container-md}) {
		flex-direction: row;
	}

	@container (min-width: #{$container-lg}) {
		gap: $spacing-xxl;
	}

	li {
		display: inline-flex;
		align-items: center;

		a {
			font-family: $font-heading;
			font-size: $font-size-body;
			font-weight: 700;
			text-decoration: none;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.text-centered {
	text-align: center;
}

.heading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: $spacing-lg;

	@container (min-width: #{$container-md}) {
		text-align: left;
	}
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: $spacing-lg;

	@container (min-width: #{$container-md}) {
		text-align: left;
	}
}

@container (min-width: #{$container-md}) {
	main {
		text-align: left;

		.desktop-heading {
			display: block;
		}

		.mobile-heading {
			display: none;
		}
	}
}
