@use '../global/variables' as *;

body {
	padding-top: $header-height;
	container-type: inline-size;
}

header.main-header {
	display: flex;
	position: fixed;
	background-color: $white;
	box-shadow: $drop-shadow;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;

	.header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20px;

		.logo {
			height: 70px;
			display: none;

			img {
				height: 100%;
			}
		}

		@container (min-width: #{$container-md}) {
			.logo {
				display: block;
			}

			.header-title {
				display: none;
			}
		}
	}
}

@media (min-width: #{$container-md}) {
	body {
		padding-top: $header-height-lg;
	}

	header.main-header {
		height: $header-height-lg;

		.header-container {
			padding: 20px $spacing-lg;
		}
	}
}
