@use '../global/variables' as *;

.container {
	display: flex;
	margin: 0 auto;
	padding: $spacing-lg $spacing-md;
	width: 100%;

	@container (min-width: #{$container-md}) {
		flex-direction: row;
		max-width: $container-width;
		padding-top: $spacing-xxxl;
		padding-bottom: $spacing-xxxl;
	}

	&.column {
		flex-direction: row;

		@container (min-width: #{$container-md}) {
			flex-direction: column;
		}
	}
}

.step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: $spacing-lg;

	@container (min-width: #{$container-md}) {
		flex-direction: row;
		gap: $spacing-lg;
		padding: $spacing-xxl;
	}

	.step-image {
		flex: 0 0 auto;

		@container (min-width: #{$container-md}) {
			flex: 0 0 15%;
		}
	}
}

section {
	position: relative;

	.section-background-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.container {
		flex-flow: column;
		z-index: 10;
		position: relative;

		@container (min-width: #{$container-md}) {
			flex-flow: row;
		}
	}
}

.desktop {
	display: none;

	@container (min-width: #{$container-md}) {
		display: block;
	}
}

.mobile {
	display: block;

	@container (min-width: #{$container-md}) {
		display: none;
	}
}
