@use '../global/variables' as *;

.container {
	display: flex;
	margin: 0 auto;
	padding: $spacing-lg $spacing-md;
	width: 100%;
}

@container (min-width: #{$container-lg}) {
	.container {
		flex-direction: row;
		max-width: $container-width;
		padding: $spacing-xxxl $spacing-xl;

		> div {
			flex: 1;
		}
	}
}
