@use '../global/variables' as *;

.container {
	display: flex;
	margin: 0 auto;
	padding: $spacing-lg $spacing-md;
	width: 100%;

	@container (min-width: #{$container-lg}) {
		flex-direction: row;
		max-width: $container-width;
		padding: $spacing-xxxl $spacing-xl;

		> div {
			flex: 1;
		}
	}
}

section .container {
	flex-flow: column;

	@container (min-width: #{$container-md}) {
		flex-flow: row;
	}
}

.desktop {
	display: none;

	@container (min-width: #{$container-md}) {
		display: block;
	}
}

.mobile {
	display: block;

	@container (min-width: #{$container-md}) {
		display: none;
	}
}
