@use '../global/variables' as *;

button,
.button {
	display: inline-block;
	font-family: $font-heading;
	font-weight: 700;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 0.3px;
	text-align: center;
	vertical-align: middle;
	border-radius: $border-radius;
	border: 2px solid $secondary-color;
	padding: $spacing-sm $spacing-md;
}
