@use '../global/variables' as *;

.cta-section {
	.cta-body {
		display: flex;
		flex-direction: column;
		background-color: $accent-color;
		border-radius: $border-radius-lg;
		color: $white;
		padding: $spacing-lg;
		width: fit-content;

		@container (min-width: #{$container-md}) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.cta-image {
			flex: 1 0 auto;
			padding: $spacing-lg;
		}

		.cta-text {
			display: flex;
			flex-flow: column;
			gap: $spacing-lg;

			h2 {
				font-weight: 300;
			}
		}
	}
}

.inline-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: $spacing-xxl;

	@container (min-width: #{$container-md}) {
		flex-direction: row;
		gap: $spacing-lg;
		padding: $spacing-xxl;
	}
}
