@use '../global/variables' as *;

.hero {
	.hero-container {
		display: grid;
		grid-template-columns: 1fr; // Single column on mobile
		gap: 1.5rem;
		max-width: 100%;

		@media (min-width: #{$breakpoint-md}) {
			grid-template-columns: 1fr 1fr;
		}

		> div {
			&.text-container {
				order: -1;
			}

			&.image-container {
				order: 1;
			}
		}
	}
}
