@use '../global/variables' as *;

.hero {
	.container {
		display: grid;
		grid-template-columns: 1fr; // Single column on mobile
		gap: 1.5rem;

		@media (min-width: $breakpoint-md) {
			grid-template-columns: 1fr 1fr;
		}

		> div {
			&.hero-text {
				order: -1;
			}

			&.hero-image {
				order: 1;
			}
		}
	}
}
